.homepageimg1 {
  max-width: auto;
  height: 250px;
  display: block;
  float: right;
}
.homepageimg2 {
  max-width: auto;
  height: 250px;
  display: block;
  float: left;
}
.homepageimg3 {
  display: inline;
  width: auto;
  float: right;
  height: 250px;
}
#homepage1 {
  height: auto;
  font-size: 24px;
  display: block;
}
#homepage2 {
  height: auto;
  font-size: 24px;
  display: block;
}
#homepage3 {
  display: block;
  height: 300px;
  font-size: 24px;
  text-align: left;
}
