body{
    font-family: 'Roboto', sans-serif;
    background-color: palevioletred;
}

#Logo{
    float: left;
    width: 55%;
    padding-left: 4%;
    padding-right: 4%;
}


#Team{
    Width:100%;
}

.h2{
    float: left;
}

#Blue{
    Width: 97%;
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 1em
}