body{
    font-family: 'Roboto', sans-serif;
    margin: auto;
    background-color: palevioletred;
    padding-bottom: 2%;
}


img{
    float: left;
    width: 50%;
    padding-left: 2%;
    padding-right: 2%;
}