body{
    font-family: 'Roboto', sans-serif;
    margin: auto;
    background-color: palevioletred;
    padding-bottom: 2%;
}


#Logo{
    float: left;
    width: 55%;
    padding-left: 4%;
    padding-right: 4%;
}
#navigation{
    Width:  45%;
    float:right;
    padding-right: 3%;
    padding-left: 3%;
    font-size: 20;
}
#h2{ float: left;
    
}
    