body{
    font-family: 'Roboto', sans-serif;
    background-color: palevioletred;
}

#Logo{
    box-sizing: border-box;
    float: left;
    width: 55%;
    padding-left: 4%;
    padding-right: 4%;
}


#Team{
    Width:100%;
    box-sizing: border-box;
}

h2{
    float: left;
    box-sizing: border-box;
    font-size: 20px;
}

#Blue{
    Width: 100%;
    box-sizing: border-box;
}