body{
    font-family: 'Roboto', sans-serif;
    margin: auto;
    background-color: palevioletred;
    padding-bottom: 2%;
}

#Logo{
    float: left;
    width: 55%;
    padding-left: 4%;
    padding-right: 4%;
}
#Blue{ 
    Width 100%;
    padding right: 5%;
    padding left; 5%;
}
#Team{
    Width:100%;
}

#h2{ float: left;
}
