header {
  color: rgb(80, 171, 207);
  background-color: rgb(116, 168, 228);
  margin: 0%;
  width: auto;
  padding-right: 3%;
  padding-left: 3%;
  height: auto;
}

header #logo {
  box-sizing: border-box;
  border: 1px;
  float: left;
  border-color: white;
  width:45%;
  padding-left: 5px;
  padding-right: 2px;
  padding-bottom: 2px;
}

.container{
  width: 300px;
  margin: auto;
}

.row{
  display: flex;
}

header #logo{ height: 75px;
margin-top: 15px;}

#nav{
  font-size: 12px;
  float: right;
  width: 55%;
  font-weight: bold;
  list-style-type: none;
  padding: 20px;
}

header #nav { text-align: right ;}

header #nav li{
  display: inline-block;
}

header #nav li a{
  display: inline-block;
  padding: 28px 22px;
  color: rgb(0, 0, 0);
}



.w-33
{ 
  width: 33%;
}