.navigation_header {
  background-color: rgb(48, 86, 129);
  margin: 0%;
  width: auto;
  height: auto;
  position:relative;
  top: 0%;

}
/*
font-family: 'Antonio', sans-serif;
font-family: 'Archivo Narrow', sans-serif;
font-family: 'Assistant', sans-serif;
font-family: 'Cormorant Garamond', serif;
font-family: 'Martel', serif;
font-family: 'Noto Serif JP', serif;
font-family: 'Shippori Mincho', serif;
  */

html, body {
  margin: 0%;
  height: 100%;
  position: relative;
}

#Logo {
  box-sizing: border-box;
  float: left;
  height: 100px;
  width: auto;
  flex: 50%;
  height: 75px;
  padding-right: 10px;
}

#ourteam{
  display: flex;
  margin: auto;
  width: auto;
  padding-bottom: 10px;
}

#nav {
  list-style-type: none;
  text-align: right;
  margin: 0px 0px 0px 0px;
  padding: 0px 0 0 0px;
  justify-content: flex-end;
}

header #nav li {
  display: inline-block;
}


.main_center{
    margin-left : 10%;
    margin-right : 10%;
}

.homepageimg1{
float: right;
}
.homepageimg2{
  float: left;
}
.homepageimg3{
  float: right;
}




header #nav li a {
  font-size: 18px;
  padding: 30px 5px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
}
header #nav li a:hover {
  background-color: rgb(132, 115, 173);
  color: rgb(0, 0, 0);
}

header #nav li a.active {
  background-color:rgb(130, 128, 212);
  color: rgb(0, 0, 0);
}

#nav #logo {
  display: block;
  align-items: center;
}

.col {
  width: auto;
  padding-left: 10%;
  padding-right: 10%;
}

.w-33 {
  width: 33%;
}

.col .w-66{
  width: 66%;
}


#homepageimg1 img{
  display: block;
  float: left;
  width: 100px;
  height: 100px;
}

.homepage-header{
  text-align: center;
  float: none;
}

.photos{
  border-left: 100px;
  border-right: 100px;
}
#team{
  width: 100px;
}
.icon-box .box{
box-sizing: border-box;
display: inline-block;
align-items: center;
}

#borderteam{
  border-width: 5px;
  border-style: solid;
  border-color: black;
  border-radius: 25px;
}

#aboutpage{
  width: auto;
  font-size: 22px;
  float: left;
}

#aboutpage h2{
  text-align: center;
  font-size: 30px;
  margin-left : 10%;
  margin-right : 10%;
}


#aboutourteam h3{
  text-align: center;
  font-size: 30px;
}



#aboutserv p{
  display: block;
  width: auto;
  text-align: center;
  border-spacing: 50px;
  margin-left: 140px;
  margin-right: 140px;
  font-size: 22px;
}
#aboutserv h2{
  text-align: center;
  font-size: 35px;
  margin-top: 24px;
}

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgb(48, 86, 129);
  font-size: 17px;
  text-align: center;
}

a{
  color: darkorange;
}

#PAIN{
  min-height: 20vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px;
}

#man{
display: block;
height: 250px;
width: 320px;
box-sizing:border-box;
float: right;
}

#worker1{
display: block;
height: 250px;
width: 300x;
}

#woman_brown{
  display: block;
  height: 250px;
  width: 180px;
}

.photos{
  display:inline-flex;
  }

.box_container {
  min-height: 200px;
}


#makeborder{
  justify-content: center;
  height: auto;
  width: 100%;
  background-color:rgb(194, 171, 171);
  border-radius: 15px;
  margin: auto;
  border-width: 5px;
  border-style: solid;
  border-color: black;
  border-radius: 25px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5%;
}

.contain{
  justify-content: center;
  display: flex;
  height: auto;
  width: 100%;
  flex-wrap: wrap;
  background-color:rgb(170, 169, 169);
  border-radius: 15px;
  margin: auto;
  border-width: 5px;
  border-style: solid;
  border-color: black;
  border-radius: 25px;
}

.contain .box{
  width: calc(550px - 200px);
  height: calc(550px - 200px);
  background: rgb(170, 169, 169);
  margin:10px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 15px;
  font-size: 20px;
  border-top: 5px;
}
.contain .box .content{
  top:100%;
  height: 100%;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  }


  .contain .box:nth-child(1) 
  {
background:rgb(148, 138, 173) ;
  }
.contain .box:nth-child(2) 
  {
background:  rgb(48, 86, 129);
  }
  .contain .box:nth-child(3) 
  {
background: rgb(148, 138, 173);
  }
.contain .box:nth-child(4) 
  {
background:  rgb(48, 86, 129);
  }
  .contain .box:nth-child(5) 
  {
background: rgb(148, 138, 173);
  }
.contain .box:nth-child(6) 
  {
background:rgb(48, 86, 129);
  }  .contain .box:nth-child(7) 
  {
background: rgb(148, 138, 173);
  }
.contain .box:nth-child(8) 
  {
background: rgb(48, 86, 129)
  }