#Team {
  width: 100%;
  box-sizing: border-box;
  height: 250px;
}

#About {
  float: right;
  box-sizing: border-box;
  height: 200px;
  text-align: center;
}

#Blue {
  width: 100%;
  box-sizing: border-box;
  height: 120px;
  border-color: black;
  border: 5em;
}
